# Default ignored files
/shelf/
/workspace.xml
target/
target/classes/.idea/workspace.xml
.classpath
.project
.settings/
.classes
.class
*.class

target/classes/App$1.class
target/classes/App$1.class
target/classes/App$1.class
target/classes/App$1.class
target/classes/App.class
target/classes/FirstSwingExample.class
*.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
